
text {
    fill: #f5f5dc
}
.dropdown .option {
    display:none;
}
rect.dropdown {
    stroke-width:0.5;
    stroke: rgb(139, 0, 10);
    fill: #a0522d;
}
.dropdown:hover .option {
    display:unset;
}
.dropdown {
    cursor:pointer;
}
circle.name_dot {
    fill: rgb(139, 0, 10)
}
